body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  

  h1 {
    text-align: center;
    color: #119126;
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;    
    margin: 0 auto;
  }
  
  .form-container {    
    top: 20px;
    left: 20px;
    width: 500px;
    height: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;    
  }
  
  .form-group label {
    margin-bottom: 5px;
    color: #1f913b;
    font-weight: bold;
  }
  
  .form-group input {
    padding: 10px;
    font-size: 14px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
  }

  .checkout{
    margin-top: 30px;
    border: 2px solid  #ccc; 
    padding: 20px; 
    border-radius: 10px; 
    height: 100px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  
  .button-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-group button:hover {
    background-color: #45a049;
  }

  .content-container{ 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;    
    width: 100%;
    margin-left: 10px;    
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;   
    
  }
  .item{
    display: flex;              
    flex-direction: column;
    justify-content: space-between; 
    border-radius: 10px;        
    padding: 20px;
    margin: 5px;
    border: 1px solid #ccc; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9; 
    height: auto;     
  }

  .item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;   
    font-weight: bold;
    color: #1f913b;
  }

  .item-imageDiv {
    border-top: 2px solid #eee; 
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .item-image {
    padding: 10px;
    max-height: 300px;
    max-width: 300px; 
  }

  .item-button{
    width: 100px;
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .item-button:hover {
    background-color: #45a049;
  }


  .item-id, .item-name, .item-category, .item-price {
    display: inline-block;
    margin-right: 16px;
    color: #1f913b; 
  }


  .item-content {
    border-top: 2px solid #eee; 
    margin-bottom: 15px;
    line-height: 1.8;
    text-align: justify;
    font-size: 20px;
    color: #333; 
  }


  .item-footer {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    color: #1f913b; 
    border-top: 2px solid #eee; 
    padding-top: 10px;
    margin-top: 10px;
  }
  


  #content{
    height: 200px;

  }

  #name, #content, #contacts, #response{
    font-family: 'Arial', sans-serif;
    font-size: 18px;    
    resize: vertical;
    color: #1f913b;
  }


  @media (max-width: 1000px) {
    .container{
        flex-direction: column; 
        justify-content: center;
        padding: 10px;
        gap: 50px;
    }

    .form-container {
        position:relative;        
        width: 95%; 
        margin: 0 auto;
        left: 0;
        padding: 10px;  
    }

    .content-container {
        display: flex; 
        flex-direction: column;
        margin: 0 auto; 
        width: 95%; 
        padding: 10px;        
    }


    .button-group {
        flex-direction: row; 
        justify-content: space-around; 
    }

    .button-group button {
        flex-grow: 1; 
    }
}